html {
    min-height: 101%;
    line-height: 1.15; /* Correct the line height in all browsers */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
}

body {
    margin: 0;
}

a {
    background-color: transparent; /* Remove the gray background on active links in IE 10. */
}

img {
    border-style: none; /* Remove the border on images inside links in IE 10. */
}

body {
    background-color: #f6f6f6;
    font-size: 12px;
}

button:focus {
    outline: 0;
}

li {
    list-style: none;
}

main {
    min-height: 557px;
    margin-top: 10px;
}

.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}

a:hover {
    text-decoration: none;
    color: rgba(0, 127, 255, 0.8);
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.active {
    color: rgba(0, 127, 255, 0.8);
}
